@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
header{
    background: #fff;
    /* width: 100%; */
    z-index: 9998;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    /* position: fixed; */
    padding: 10px 0px;
}
ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
}
a{
    text-decoration: none !important;
    font-size: 16px;
    font-weight: 500;
    color: #4f4f4f !important;
    /* margin-right: 10px; */
}
.nav-item{
    display: flex;
    gap: 40px;
    align-items: center;
}
nav ul {
display: flex;
align-items: center;
gap: 40px;
}
.login-btn{
    font-weight: 700;
    font-size: 12px;
    color: #2f80ed !important;
    padding: 12px 22px;
    border: 2px solid #2f80ed !important;
    border-radius: 8px;
    /* width: -moz-max-content; */
    /* width: max-content; */
    /* min-width: 100px; */
}


/* +++++++++++++++ Anouncement section ++++++++++++++++++ */
.announment-section{
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    /* position: fixed; */
    /* z-index: 80; */
   
    padding: 10px 0px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background-color: #2f80ed;
}

/* ++++++++++++++++++++++++++++++ Hero section styling +++++++++++++++++++++++++++++++ */
.hero-wrapper{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 35px;
    margin-top: 80px;
}
.header-content-wrapper-right{
    margin-bottom: 30px;
}
.header-highlight{
    color: #2f80ed;
}
.header-content-heading-right{
    font-size: 50px;
    font-style: italic;
   
}
.header-content-subheading-right{
margin-bottom: 28px;
}
.header-content-subheading-right p{
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 2px;
}
.header-content-wrapper-left{
    box-shadow: 0 2px 40px rgba(0,0,0,.08);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.header-content-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-content-div-left{

}
.header-content-heading{
font-size: 20px;
font-style: italic;
font-weight: 400;
}
.header-content-subheading{
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 1;
}
.hero-btn-wrapper{

margin-top: 170px;
}
.hero-btn{
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #525252;
    padding: 10px 15px;
    background: #fff;
    /* box-shadow: 0 2px 40px rgba(0,0,0,.12); */
    border-radius: 23px;
    border: none;
    
}
.form-box{
    width: 415px;
    height: 496px;
    text-align: center;
    padding:28px, 24px, 32px, 24px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    border-radius: 10px;
}
.form-heading{
    margin-bottom: 20px;
}
.form-heading h1{
font-size: 32px;
font-style: italic;
font-weight: 400;
}
.form-para{
margin-bottom: 25px;
}
.form-para p{

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-email{
    width: 80%;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding-left: 10px !important;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}
.form-email>input {
    width: 90%;
    border: none;
    background: transparent;
    height: 40px;
    outline: none;
}
.form-number{
     width: 80%;
     border: 1px solid #eeeeee;
     border-radius: 10px;
     padding-left: 10px !important;
     background-color: #f8f8f8;
    margin-bottom: 20px;

}
.form-number>input {
    width: 90%;
    border: none;
    background: transparent;
    height: 40px;
    outline: none;
}
.form-btn{
    margin-top: 20px;
}
.form-btn button {
    background: linear-gradient(315deg, #992fed, #2f80ed);
    border-radius: 8px;
    color: #ffff;
    border: 2px solid white;
    padding: 13px 100px;
    margin-bottom:10px
}

.form-btn button:hover {
    background: linear-gradient(315deg, #992fed, #2f80ed);
    border: 2px solid #ffa;
}
.form-btn p{
font-size: 14px;
font-weight: 400;
align-items: center;
font-family: "Inter", sans-serif;
margin-bottom: 5px;
}
.form-btn a{
color: #2f80ed !important;
}

/* +++++++++++++++++ course +++++++++++++++++++ */
.course-section{
    background-color: #ECF8FF;
    /* margin-bottom: 30px; */
    padding-bottom: 30px;
}
.course-wrapper{
    margin-top: 50px;
}
.course-heading{
    text-align: center;
}
.course-Topheading{
    padding-top: 60px;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    color: #2f80ed;
}
.course-subHeading{
    color: #2f80ed;
    font-size: 36px;
    font-weight: 400;
    margin-top: 10px;
}
.course-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.beginner-course-info{
    
    background-color: #fff;
    border-radius: 5px;
    padding: 12px;
    margin-top: 30px;
}
.beginner-course-info:hover{
    border: 1px solid #2f80ed;
}
.beginner-course-detail{
    padding: 30px;
}
.course-title{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
font-style: italic;
font-size: 26px;
font-weight: 400;
}
.course-btn{
    text-align: center;
    margin-top: 10px;
}
.course-btn button{
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    background-color:#ECF8FF;
    color: #2f80ed;
}
.course-para{
    margin-top: 10px;
    margin-bottom: 18px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.course-table-content{

}
.course-extra-detail{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 71px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.extra-heading{
    display: flex;
    align-items: center;
    gap: 10px;
}
table{
    width: 100%;
    margin-top: 50px;
}
td, th {
    /* width: 90%; */
    border-bottom: 2px solid #dddddd;
    text-align: left;
    padding: 20px;
    /* margin-top: 1000px; */
    /* margin-bottom: 40px; */

  }
  .course-btn-wrapper{
    /* text-align: center; */
    display: flex;
    gap: 5px;
    /* flex-direction: row; */
   
  }
  .course-btn-wrapper button{
    border: none;
    padding: 20px 50px;
    border-radius: 5px;
    background-color:#fff;
    color: #2f80ed;
    margin-top: 20px;
    border: 1px solid #2f80ed;
    margin-right: 5px;
  }
  .course-btn-wrapper button:hover{
    background-color: #2f80ed;
    color: #fff;
  }

  /* ++++++++++++++++++ featured comapany +++++++++++++++++++ */

  .featured-company{
    margin-top: 100px;
  }
  .company-heading h3 {
     font-size: 16px;
     font-style: italic;
     font-weight: 400;
     color: #2f80ed;
     text-align: center;
     margin-bottom: 20px;
  }
  .company-heading h2{
    font-size: 52px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
  }
  .title-highlight{
    color: #2f80ed ;
    font-style: italic;
  }
  .company-heading p{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
  }

  .company-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
  }
  .company-logo img{
    margin-bottom: 10px;
  }
  .placement-btn{
    text-align: center;
  }
  .placement-btn button{
    border-radius: 8px;
    /* color: #ffff; */
    border: 2px solid white;
    padding: 13px 100px;
    margin-top: 30px;
    background-color: #2f80ed;
    color: #fff;
  }

  /* ++++++++++++++++++++++ testimonial section ++++++++++++++++++++++ */
  .testimonial-wrapper{
    margin-top: 100px;
  }
  .testmonial-heading h2{
font-size: 42px;
font-weight: 400;
font-style: italic;
text-align: center;
  }

  .testmonial-heading p{
    color: #595959;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
  }
  .card-wrapper-outer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    justify-content: flex-start;
  }